body {
    background-color: aqua;
position:fixed;
  left:0;
    right:0;
    top:0;
    bottom:0;
    overflow-y:auto;
    
     

}



.select_start {
    float:left;
    width:30%;
    }
h1 { text-align: center;
font-family: "Monotype Corsiva" Cursive;
}
  



 .block1 {
  
  text-align: -webkit-center;

   width: 400px;
    height: 140px;
  
  

  padding: 200px;

  padding-right: 20px;
  
  background-repeat: no-repeat;
  float: right;
  

}
img {
 width: 470px;
  height: 450px;
  position: relative;
  top: -200px;
  left: -60px;
}
.button1 {
position: absolute;
top: 10px;
left: 970px;
}
.button2 {
position: absolute;
top: 10px;
left: 1030px;
}
 .block2{
font-weight:bold;
font-size: 20px;
   text-align: left;

   width:210px;
    height: 100px;

  padding: 10px;

  padding-right: 20px;
  
  background-repeat: no-repeat;
position: absolute;
top: 35px;
left: 550px;





















  float: right;
}
