<html>

  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Home</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">

    </script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header" id="myDIV" >
          <a href ="#" class="navbar-brand">Potniy opros</a>
        </div>
        <div class="menu">
          <ul class="nav navbar-nav" >
            <li ><a href="{{ url_for('home') }}">Домашняя</a></li>
            <li ><a href="{{ url_for('opros') }}">Опрос</a></li>
            <li ><a href="{{ url_for('statistic') }}" >Статистика</a></li>
            <li ><a href="{{ url_for('about_us') }}">Контакты</a></li>
            {% if current_user.is_authenticated %}
            <li> <a href="{{ url_for('flappy_yuras') }}">Зарубиться</a></li>
            {% endif %}
          </ul>
          <ul class = "nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
            <li ><a href="{{ url_for('register') }}">Зарегаца</a></li>
            <li ><a href="{{ url_for('login') }}">Залогиница</a></li>
            {% else %}
            <li ><a href="{{ url_for('logout') }}">Выйти</a></li>
            {% endif %}
          </ul>
        </div>
        <div>
        </div>
      </div>
    </nav>

    {% include 'includes/_messages.html' %}

    {% block content %} {% endblock %}

    <blockquote class="blockquote-reverse">
      <p class="text-info">Бухать это тебе не письку на заборе рисовать!</p>
      <footer>Кирил Закурдаев</footer>
    </blockquote>
  </body>

</html>
