{% extends "base.html" %}

{% block content %}
<style>
#score0, #score2,#score1 {
     color: black;
     font-weight: bold;

   }</style>
<div class="container-fluid">

<div id = "img_big" class = "image col col-xs-5" style='position: absolute;bottom; right: 50px;top:52px;'><img src = "static/results.png" alt = "Top results" class="hidden-xs" ><img>
  <div id ="score0"style="position: absolute; top: 57%; left:11%; width: 200px">
    {{ top1name }} : {{ top1score }}
  </div>
  <div id ="score1"style="position: absolute; top: 72%; left: 11%; width: 200px">
    {{ top2name }} : {{ top2score }}
  </div>
  <div id ="score2"style="position: absolute; top: 86%; left: 11%; width: 200px">
    {{ top3name }} : {{ top3score }}
  </div>

<!-- если скор больше чем этот (i) и меньше чем следующий (i + 1) то записать в див i этот скор вместе с именем    // -->

<img class="visible-xs" src="static/results_xs.png"></div>



</div>

<div class ="container">
<button class = "btn btn-success"id = "poigrat">Зарубиться</button>
<canvas id="canvas" width="288" height="512"></canvas>
<p id="result"></p>
</div>

  <script src="{{ url_for('static', filename = 'js/flappy_yuras/flappy_yuras.js') }}"></script>


<ul>
  <li>{{ top1name }}</li>
  <li>{{ top1score }}</li>
  <li>{{ top2name }}</li>
  <li>{{ top2score }}</li>
  <li>{{ top3name }}</li>
  <li>{{ top3score }}</li>
</ul>

{% endblock %}
