{% extends "base.html" %}

{% block content %}
  <h1>Йоу, дядь, тут домашняя страница</h1>
  {% if current_user.is_authenticated %}
  <h3>Здаров, {{current_user.username}}!</h3>
  <p>Только здесь у тебя есть возможность выиграть уникальную в своем роде фирменную футболку К-5, от самих создателей К-5</p>
  <p>Тот у кого dd числа mm месяца в 12:00 по Киевскому времени будет иметь наибольшое количество очков, получит этот безценный трофей: </p>
  <p> <a href="{{ url_for('flappy_yuras') }}">Зарубиться</a> </p>
  {% else %}
  <h3>здаров, лагинся</h3>
  <p>Только здесь у тебя есть возможность выиграть уникальную в своем роде фирменную футболку К-5, от самих создателей К-5</p>
  <p>Регистрируйся, заходи и попытай удачу!</p>
  {% endif %}
  <hr>
  <h3>Всего зарегестрированых юзеров: {{ num_of_users }}</h3>
  </audio>
{% endblock %}
