{% extends "base.html" %}
{% block content %}
<h1>LOGIN</h1>
<div class="container">
  <form action = "" role="form" class="form-horizontal" onsubmit="return validateUserName()" method="POST">
    <div class="form-group"  id="divEmail">
      <label class="control-label col-md-2">Username</label>
    <div class="col-md-10">
      <input type="text" name="username" class="form-control" id="mail" placeholder="введи эту парашу" value={{request.form.username}}>
    </div>
  </div>
    <div class="form-group"id="divPass">
      <label for="pass" class="control-label col-md-2">Pass</label>
      <div class="col-md-10">
       <input type="password" name="password" class="form-control " id="pass" placeholder ="ебни без рук" value={{request.form.password}}>
     </div>
    </div>
     <div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
      <div class="alert alert-danger collapse" role="alert" id="alert_error">
      какое то поле пустое или пароли не совпадают
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember_me" value={{request.form.remember_me}}>Запомнить</label>
      </div>
    </div>
  </div>
     <div class="form-group">
       <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
         <button type="submit" class="btn btn-primary">Залогиница</button>
       </div>
      </div>
  </form>
  <p>Ещё не зарегался? <a href="{{ url_for('register') }}">Кликай и регайся!</a></p>
</div>
{% endblock %}
