{% extends "base.html" %}
{% block content %}
<style>

.jumbotron{
background-color:transparent !important;
}
</style>
  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center">Шо по движу пацыки</h2>
      <p>Крч Данька приезжает </p>
  </div>
</div>
<!--<form action="" onsubmit="return validateOpros()"> -->
<div class="panel-group" style ="padding: 20px">
  <div class="panel panel-default panel-info" id="opros_div1">
    <div class="panel-heading">Снимаем хату с приколясами, шлюхами и кучей бухлища</div>
  <div class="panel-body">
  <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
  <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>

  </div>
  </div>
  <div class="panel panel-default panel-info"id="opros_div2">
    <div class="panel-heading">Выше перечисленное без шлюх</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red"></i>

  </div>
  </div>
  <div class="panel panel-default panel-info"id="opros_div3">
    <div class="panel-heading">Впизду хату, едем в КЭТ</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div4">
    <div class="panel-heading">Баночка и К5</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div5">
    <div class="panel-heading">Го в линас</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>


  <div class="panel panel-default panel-info"id="opros_div6">
    <div class="panel-heading">В экомаркет за пивасом и под падик(лакшери опшен)</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div7">
    <div class="panel-heading">Снимаем яхту плвать по Днепру</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div8">
    <div class="panel-heading">Впизду яхту, снимаем катамараны в Голосеевском парке</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div9">
    <div class="panel-heading">Та ну вас нахуй, чаек и сериальчик</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <button  type = "submit" class="btn btn-primary" id="button_submit_opros">Закончить</button>

  <div class="alert alert-danger collapse" role="alert" id="alert_error_opros">
  Ответь на все вопросы, бро
  </div>
</div>
<!--</form>  -->
{% endblock %}
